# dependencies
node_modules/
package-lock.json

# Next.js build output
.next/
out/

# VS Code settings
.vscode/

# macOS junk
.DS_Store
# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local